@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,814;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&family=Handjet&family=Open+Sans:wght@800&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
 
:root {
    --blue: #002F5E;
    --orange: #f8d392;
    --lightgray: #FAFAFA;
}
 
* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
 
ul {
    list-style: none;
    padding: 0;
}
 
#navbar {
    background-color: var(--blue);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#navbar div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

a{
    text-decoration: none;
}
 
#navbar a {
    color: var(--lightgray);
    font-size: small;
  
}
 
#navbar section {
    width: 25%;
}
 
#navbar nav {
    width: 75%;
}
 
#navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
 
#navbar button {
    padding: 8 20 8 20;
    background-color: orange;
    border: none;
    border-radius: 20px;
    height: 37px;
    font-weight: 600;
    width: 100px;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
}

#container{
    width: 90%;
    
}

#container nav{

    margin-top: 66px;
}

#breadcrumps{
    display: flex;
    gap: 15px;
    font-size: small;
    color: gray;
}

#breadcrumps a{
    color: gray;
    background-color: var(--lightgray);
    border-radius: 5px;
    padding:  3px 5px 3px 5px;
}

#breadcrumps li+li::before{
    content: '|';
    margin-right: 15px ;
    color: gray
}

#container h1{
    text-align: center;
    margin-top: 90px;
    margin-right: 5%;
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--blue);
    border-bottom: 1px solid var(--orange);
    padding-bottom: 10px;
}

#container p{
    text-align: center;
    font-size: 20px;
    margin-top: 35px;
    width: 100%;
}

#texto{
    font-size: 22px;
    line-height: 36px;
    color: #404040;
    max-width: 780px;
    margin-bottom: 40px;
    padding-left: 250px;
}

#container h4{
    margin-top: 90px;
    color: var(--blue);
    font-size: 22px;
    padding-bottom: 15px;
}

#container h4::before{
    content: '>';
    color: var(--blue);
    font-size: 30px;
    margin-right: 10px;
}

#container form{
    box-shadow: 0px 1px 21px rgba(20,20,43,0.14);
    border-radius:10px ;
    background-color: var(--lightgray);
    padding: 20px 10px 20px 10px;
}

#container form ul{
    display: flex;
    justify-content: space-around;
    
}

#container form li{
    display: flex;
    flex-direction: column;
}