@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');



/* Regras globais */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
 
ul {
    list-style: none;
    padding: 0;
}

main{
    padding-left:20px;
    padding-top: 20px;
}
/* Estilo do body */
body{
    background-color: aliceblue;
    overflow-x: hidden;
    overflow-y: auto;
}


/*começo da navbar*/


/* Navbar */

/* Estilo do navbar */
.container_nav {
    background: linear-gradient(to right, rgb(45, 45, 52), #000000);
    padding: 10px;
    display: flex;
    flex-direction: column; /* Configura a direção da flexbox para coluna */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo do logotipo e do navbar */
.container_nav h2 {
    color: rgb(245, 92, 92);
    font-size: 2rem;
    margin-bottom: 10px; /* Adiciona uma margem inferior para afastar o título da lista */
}

/* Estilo da lista do navbar */
.container_nav nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinha os elementos à direita */
}

.container_nav nav ul li {
    margin-left: 20px; /* Espaçamento entre os elementos */
}

.container_nav nav ul li:first-child {
    margin-left: 0; /* Remove o espaço à esquerda do primeiro elemento */
}

.container_nav nav ul li a {
    color: whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.container_nav nav ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: transparent; /* Defina a cor da linha como transparente */
    transition: background-color 0.3s;
}

.container_nav nav ul li a:hover:after {
    background-color: rgb(156, 8, 8); /* Defina a cor da linha quando o mouse passar por cima */
}

.container_nav nav ul li a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    transform: rotate(0deg);
}


.filmes{
    display: flex;
    padding-top: 50px;
    padding-left: 70px;
    width: 1362px; 
    justify-content: inherit;
    align-items: center; /* Adiciona alinhamento vertical ao centro */
    flex-wrap: wrap; /* Para lidar com a quebra de linha das imagens */
    border-top: 1px solid black;
    margin-right: 50px;
    margin-top: 23px;
}

.filmes img{
    margin: 10px;
    margin-bottom: 20px;
    margin-right: 0px;
}
.carrossel {
    margin: 0;
    padding: 0;
}
.carrossel img {
    max-width: 100%;
}
.filme-imagem {
    background: rgb(245, 92, 92);
    padding: 2px 5px;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    border-radius: 0 0 0 3px;
}
/* Estilo para filmes em pré-venda */
.filme-estreia {
    position: relative;
}
.filme-botao {
    position: absolute;
    margin-right: 0px;
    background: rgb(245, 92, 92);
    padding: 2px 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    border-radius: 0 0 0 3px;
    top: 10px;
    right: 1px;
}

/* Modificações para dispositivos menores */
@media screen and (max-width: 768px) {
    .container_nav {
        flex-direction: column;
        align-items: center;
    }

    .container_nav nav ul {
        flex-direction: row;
        align-items: center;
    }

    .container_nav li {
        margin:0;
    }
    
    .filmes {
        display: flex;
        align-items: center;
        width: 80%;
    }
    .filme-imagem {
        height: 298px;
        width: 198px;
        margin: 10px;
        margin-bottom: 20px;
        margin-right: 0;
        background: rgb(245, 92, 92);
        padding: 2px 5px;
        color: #fff;
        font-size: 8px;
        font-weight: bold;
        border-radius: 0 0 0 3px;
      }
    }
    .notificacao {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 140px;
        right: 0;
        width: 35px;
        height: 125px;
        padding: 0;
        text-align: center;
        z-index: 999;
        border-radius: 15px 0 0 15px;
        background: #FFF;
        box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .titulo {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 100%;
        background: rgb(245, 92, 92);
        border-radius: 5px 0 0 5px;
    }
    
    .titulo p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        margin: 0;
        text-transform: uppercase;
        color: #FFF;
        white-space: nowrap;
        font-weight: bold;
    }
    
    .notificacao {
        overflow: hidden;
        transition: width 0.3s ease;
    }
    
    .notificacao:hover {
        width: 400px;
        
    }
    
    .notificacao .hover {
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .notificacao:hover .hover {
        transform: scaleX(1);
    }
    .notificacao img {
        width: 90px;
    }
    .segunda {
        margin-top: 150px;
    }
